@import "./colors.css";

* {
  font-family: DeJaVu Sans Mono;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 4px;
  color: @fg;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 5px;
}

#workspaces button:hover {
  background: @bg2;
  border-radius: 5px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: @bg;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-download,
#custom-upload,
#custom-fan,
#language,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#scratchpad,
#workspaces,
#mode {
  background-color: rgba(0%, 0%, 0%, 0.75);
  border: 4px solid @fg;
  border-radius: 5px;
  padding: 0 5px;
}
