@import "./colors.css";

* {
  font-family: Abattis Cantarell;
  font-weight: 500;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#workspaces button {
  background-color: transparent;
  color: @fg;
  padding: 0 3px;
  border: none;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @fg;
  color: @bg;
  border-radius: 5px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: @fg;
  color: @bg;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-download,
#custom-upload,
#custom-fan,
#language,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#scratchpad,
#workspaces,
#mode {
  background-color: @bg;
  border: 3px solid @fg;
  border-radius: 10px;
  padding: 0 5px;
}

#workspaces {
  padding: 0 0px;
}
